<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/dashboard.css') }}">
		<title>Dashboard</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="{{ url_for('dash.dashboard') }}">Home</a></li>
				<li><a href="{{ url_for('dash.dashboard') }}">Uploads</a></li>
				<li><a href="{{ url_for('dash.dashboard') }}">Contact</a></li>
				<li><a href="{{ url_for('dash.dashboard') }}">Profile</a></li>
			</ul>
		</nav>
	</body>
</html>
