<!doctype html>
<html land='en'>
        <head>
                <meta charset='utf-8'>
                <meta name='viewport' content='width=device-width initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/register.css') }}'>
                <title>Register</title>
        </head>
        <body>
                <div class='container'>
                        {% with messages=get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                        {% for category, message in messages %}
                                                <div class='alert'>
							<p class='alert-{{ category }}'>{{ message }}</p>
                                                </div>  
                                        {% endfor %}
                                {% endif %}
                        {% endwith %}

			<form action="{{ url_for('auth.register') }}" method=post>
				{{ form.hidden_tag() }}

				<div>
					{{ form.firstname(size=32, placeholder='First name') }}
					{% if form.firstname.errors %}
						{% for error in form.firstname.errors %}
							<p class='form-error'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.middlename(size=32, Placeholder='Middle name') }}
					{% if form.middlename.errors %}
						{% for error in form.middlename.errors %}
							<p class='form-error'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.lastname(size=32, placeholder='Last name') }}
					{% if form.lastname.errors %}
						{% for error in form.lastname.errors %}
							<p class='form-error'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.email(size=32, placeholder='Email') }}
					{% if form.email.errors %}
						{% for error in form.email.errors %}
							<p class='form-error'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.username(size=32, placeholder='Username') }}
					{% if form.username.errors %}
						{% for error in form.username.errors %}
							<p class='form-error'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.password(size=32, placeholder='Password') }}
					{% if form.password.errors %}
						{% for error in form.password.errors %}
							<p class='form-error'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.confirmpassword(size=32, placeholder='Confirm Password') }}
					{% if form.confirmpassword.errors %}
						{% for error in form.confirmpassword.errors %}
							<p class='form-error'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div class='button-container'>
					{{ form.submit() }}
				</div>
			</form>
		</div>
	</body> 
</html>
