<!doctype html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/login.css') }}">
		<title>Login</title>
	</head>

	<body>
		<div class='container'>
			{% with messages=get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }}">
							<p>{{ message }}</p>
                    				</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
	

			<form action='/login' method='POST'>
				{{ form.hidden_tag() }}
		
				<div>	
					{{ form.email.label }}: {{ form.email(size=32) }}
					{% if form.email.errors %}
						{% for error in form.email.errors %}
							<p class='form-error'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.password.label }}: {{ form.password(size=32) }}
						{% if form.password.errors %}
						{% for error in form.password.errors %}
							<p class='form-error'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.remember.label }}: {{ form.remember() }}
				</div>

				<div class="button-container">
					{{ form.submit() }}
				</div>
				<p> Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
			</form>
		</div>
	</body>
</html> 
