<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='content' width='device-width, initial scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/login.css') }}">
		<title>Login</title>
	</head>

	<body>
		<h1>SIGN IN</h1>
		<div id='container'>
			<div class='alert'>
				<p class='error'><p>
			</div>

			<form id='login'>
				{{ form.hidden_tag() }}

				<div>
					{{ form.email(size=32, placeholder='Enter your email') }}
					<p class='errors' id='email-error'></p>
				</div>

				<div>
					{{ form.password(size=32, placeholder='Enter your password', id='password') }}
					<p class='errors' id='password-error'></p>
				</div>

				<div>
					<label for='toggle-password'>Show </label>
					<input type='checkbox' id='toggle-password'>
				</div>

				<div>
					{{ form.remember.label }} {{ form.remember() }}
				</div>

				<div id='button'>
					{{ form.submit() }}
				</div>
				<p>Don't have an account? <a href="{{ url_for('auth.register') }}">Sign up</p>
			</form>
		</div>
		<script src="{{ url_for('static', filename='js/login.js') }}"></script>
	</body>
</html>



