<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='content' width='device-width, initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/register.css') }}">
		<title>Register</title>
	</head>

	<body>
		<h1>SIGN UP</h1>
		<div id='container'>
			<div class='alert'>
				<p></p>
			</div>

			<form id='register'>
				{{ form.hidden_tag() }}

				<div>
					{{ form.firstname(size=32, placeholder='Enter you first name') }}
					<p class='error' id='firstname-error'></p>
				</div>

				<div>
                                        {{ form.lastname(size=32, placeholder='Enter you last name') }}
                                        <p class='error' id='lastname-error'></p>
                                </div>

				<div>
					{{ form.email(size=32, placeholder='Enter your email') }}
					<p class='error' id='email-error'></p>
				</div>

				<div>
					{{ form.password(size=32, placeholder='Enter your password', id='password') }}
					<p class='error' id='password-error'></p>
				</div>

				<div>
					{{ form.confirmpassword(size=32, placeholder='Confirm your password', id='confirm-password') }}
					<p class='error' id='confirmpassword-error'></p>
				</div>

				<div>
					Show password <input type="checkbox" id="toggle-passwords">
				</div>

				<div>
					{{ form.gender.label }} {{ form.gender() }}
					<p class='error' id='gender-error'></p>
				</div>

				<div id='button'>
					{{ form.submit() }}
				</div>
				<p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</p>
			</form>
		</div>
		<script src="{{ url_for('static', filename='js/register.js') }}"></script>
	</body>
</html>


