<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='content' width='device-width, initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/uploads.css') }}">
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/nav.css') }}">
		<title>Uploads</title>
	</head>

	<body>
		<nav>
                        <ul>
                                <li><a href="{{ url_for('dash.dashboard') }}">Home</a></li>
                                <li><a href="{{ url_for('post.upload') }}">Upload</a></li>
                                <li><a href="{{ url_for('post.uploads') }}">Uploads</a></li>
                                <li><a href="{{ url_for('dash.dashboard') }}">Profile</a></li>
                        </ul>
                </nav>

		<div id='container'></div>
	</body>
	<script src="{{ url_for('static', filename='js/uploads.js') }}"></script>
</html>
