<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/register.css') }}">
		<title>Register</title>
	</head>
	<body>
		<div class='container'>
			{% with messages=get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
					<div class='alert alert-{{ category }}'>
							<p>{{ message }}</p>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}

			<form action='/' method='POST'>
				{{ form.hidden_tag() }}
				<div>
					{{ form.firstname.label }}: {{ form.firstname(size=32) }}
					{% if form.firstname.errors %}
						{% for error in form.firstname.errors %}
							<p class='form-errors'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.lastname.label }}: {{ form.lastname(size=32) }}
					{% if form.lastname.errors %}
						{% for error in form.lastname.errors %}
							<p class='form-errors'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.email.label }}: {{ form.email(size=32) }}
					{% if form.email.errors %}
						{% for error in form.email.errors %}
							<p class='form-errors'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.password.label }}: {{ form.password(size=32) }}
					{% if form.password.errors %}
						{% for error in form.password.errors %}
							<p class='form-errors'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div>
					{{ form.confirmpassword.label }}: {{ form.confirmpassword(size=32) }}
					{% if form.confirmpassword.errors %}
						{% for error in form.confirmpassword.errors %}
							<p class='form-errors'>{{ error }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div class='button-container'>
					{{ form.submit() }}
				</div>

				<p>Already have an account? <a href="{{ url_for('login') }}">Sign In</a></p>
			</form>
		</div>
	</body>
</html>
