<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/login.css') }}">
	</head>

	<body>
		<div id='container'>

			<div class='alert'>
				<p></p>
			</div>

			<form id='login'>
				{{ form.hidden_tag() }}

				<div>
					{{ form.email.label }}<br> {{ form.email(size=32, placeholder='Enter your email') }}
					<p class='error' id='email-error'></p>
				</div>

				<div>
					{{ form.password.label }}<br> {{ form.password(id='password', size=32, placeholder='Enter your password') }}
					<p class='error' id='password-error'></p>
				</div>

				<div>
					{{ form.showpassword.label }} {{ form.showpassword(id='show') }}
					<a href="{{ url_for('auth.reset_password') }}">Forgot password?</a>
				</div>

				<div>
					{{ form.remember.label }} {{ form.remember() }}
				</div>

				<div id='button'>
					{{ form.submit() }}
				</div>
				<p>Don't have an account? <a href="{{ url_for('auth.register') }}">Sign up</a></p>
			</form>
			
			<script src="{{ url_for('static', filename='js/login.js') }}"></script>
	</body>
</html>

