* {
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
}

body {
	font-family: "poppins";
	background-color: #363d3f;
	color: #D8DBE7;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 800px;
	background-color:  #53706A;
	border-radius: 10px;
	border: 1px solid #EDAB18;
	padding: 20px;
}

.alert {
    	padding: 15px;
    	margin-bottom: 20px;
    	border: 1px solid transparent;
    	border-radius: 4px;
}

.alert-success {
    	color: green;
    	background-color: #dff0d8;
    	border-color: #d6e9c6;
}

.alert-danger {
    	color: red;
    	background-color: #f2dede;
    	border-color: #ebccd1;
}

form {
    	margin-top: 20px;
	width: 100%;
}

form div {
    	margin: 8px auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    	padding: 8px;
    	font-size: 16px;
    	border: none;
    	border-radius: 4px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	padding: 8px 20px;
	color: #FFF;
	background-color: #0598ce;
	cursor: pointer;
	border: none;
	border-radius: 8px;
}

input[type="submit"]:hover {
	background-color: blue;
}

.button-container {
	margin: 0 auto;
}
