.alert {
    	padding: 15px;
    	margin-bottom: 20px;
    	border: 1px solid transparent;
    	border-radius: 4px;
}

.alert-success {
    	color: green;
    	background-color: #dff0d8;
    	border-color: #d6e9c6;
}

.alert-danger {
    	color: red;
    	background-color: #f2dede;
    	border-color: #ebccd1;
}

.form-error {
    	color: red;
    	font-size: 14px;
    	margin-top: 5px;
}

* {
    	margin: 0;
    	padding: 0;
}

body {
    	font-family: Arial, sans-serif;
    	background-color: #050505;
    	padding: 20px;
	color: #f4e9ed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
    	max-width: 600px;
    	padding: 20px;
    	border-radius: 8px;
	background-image: url('/static/images/register.jpeg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
    	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    	margin-top: 20px;
}

form div {
    	margin-bottom: 15px;
}

label {
    	font-weight: bold;
	color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    	padding: 10px;
    	font-size: 16px;
    	border: 1px solid #ccc;
    	border-radius: 4px;
}

.button-container {
	display: flex;
	justify-content: center;
}


input[type="submit"] {
    	background-color: #007bff;
    	color: #fff;
    	border: none;
    	padding: 10px 20px;
    	font-size: 18px;
    	cursor: pointer;
    	border-radius: 5px;
}

input[type="submit"]:hover {
    	background-color: #0056b3;
}

form a {
	text-decoration: none;
}

form a:hover {
	color: #0598ce;
}
